/* body styles */
body {
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

/* container styles */
.container {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;



}

/* section styles */
.section {
  display: grid;
  background-color:white;
}

.Nav-bar {
  height: 56px;
  width: 1664px;
  grid-column: 1/-1;
  padding: 0 16px 0 16px;
  display: inline-block;
  place-items:center;

}

.nav_items{
  vertical-align: middle;
  margin: 0 auto;
}

#icon {
  width: 24px;
  height: 24px;
  margin:0 16px 0 16px;
}
#logo {
  width: 80px;
  height: 24px;
}

#searchbox{
  display: inline-block;
  vertical-align: middle;
  width: 1158px;
}

.Side-bar{
width: 240px;
height: 100vh;
background-color: #E9E9E9;
}

.Videos{
  width: 1440px;
  height:100vh;
  /* display: grid; */
  /* grid-template-rows: auto;*/
  place-items:center;
  margin: 0;
}

/* Side-bar Styles */

.guide {
  height:144px;
  border-bottom: 1px solid gray;

}


/* Video styles */

.Advertisement {
  margin: 0;
  background-color: #DCDADB;
  width: 1440px;
  height: 260px;

}

.dismissable {
  display: grid;
  width: 1285px;
  height: 296.5px;
  border-bottom:1px solid gray;
}
