body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 13px;
  margin: 10px auto;
}

.container {
  margin: 0 auto;
  display: grid;
  width: 60%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-gap: 20px;
}

.item {
  display: grid;
  place-items: center;
}

.down {
  border-bottom: 1px solid;
}

.right {
  border-right: 1px solid;
}

.description {
  display: block;
}

p {
  margin: 0;
}

.header {
  grid-column: 4/5;
  grid-row: 1/-2;
}

#header {
  transform: rotate(90deg);
  width: 50px;
  font-weight: bold;
}

.footer {
  grid-column: 1/-2;
  grid-row: 4/5;
  height: 40px;
}

/* Media Queries */

/* Tablets */

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }
}
